<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br>
    <!--<%= f.text_field :sportType %>-->
    <%= f.select :sportType, ["corrida", "dardo"] %>
  </div>
  <div class="field">
    <%= f.label "Início" %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar Competição" %>
  </div>
<% end %>
