<p id="notice"><%= notice %></p>

<h1>Lista de Competições</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Tipo</th>
      <th>Início</th>
      <th>Fim</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= link_to "#{competition.title}", competition %></td>
        <td><%= competition.sportType %></td>
        <td><%= competition.start %></td>
       
        <% if not competition.end.nil? %>
          <td><%= competition.end %></td>
        <% else %>
          <td><%= "em curso..." %></td>
        <% end %>
        
        <td><%= link_to 'Mostrar', competition %></td>
        <td><%= link_to_if competition.end.nil?, 'Editar', edit_competition_path(competition) %></td>
        <td><%= link_to_if competition.end.nil?, 'Finalizar', competition_finalize_path(competition) %>
        <td><%= link_to 'Ranking', competition_ranking_path(competition) %></td>
        <td><%= link_to 'Apagar', competition, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>
  <%= link_to 'Nova Competição', new_competition_path %> |
  <%= link_to 'Ver Resultados', results_path %>
</h2>