<h1>Ranking</h1>
<h2><%= @competition.title %></h2>

<% if not @competition.end.nil? %>
	<h2><%= "Competição Encerrada" %></h2>
<% else %>
	<h2><%= "Competição em Curso" %></h2>
<% end %>

<% list = [] %>
<% if @competition.sportType == "corrida" %>
	<% list = @competition.results.order("results.resultValue ASC") %>
	<% templist = [] %>
	<% list.each do |result| %>
		<% templist.push([[], [result.athlete], [result.resultValue], [result.unit]]) %>
	<% end %>
	<% list = templist %>

<% elsif @competition.sportType == "dardo" %>
	<% list = @competition.results.order("results.resultValue DESC") %>
	<% templist = [] %>
	<% list.each do |result| %>
		<% templist.push([[], [result.athlete], [result.resultValue], [result.unit]]) %>
	<% end %>
	<% templist = templist.uniq { |e| e.second } %>
	<% list = templist %>

<% end %>

<% if not list.empty? %>
	<% count = 1 %>
	<% list.each do |item| %>
		<% item[0] = [count] %>
		<% count = count + 1 %>
	<% end %>
	
	<table>
	  <thead>
	    <tr>
	      <th>Posição</th>
	      <th>Atleta</th>
	      <th>Resultado</th>
	      <th>Unidade</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% list.each do |item| %>
	      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	        <% item.each do |elem| %>
	        	<td><%= elem[0] %></td>
	        <% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>

<h2><%= link_to 'Voltar', competitions_path %></h2>