<p id="notice"><%= notice %></p>

<h2><%= "Competição: #{@competition.title}" %></h2>
<p>
  	<strong>Título:</strong>
  	<%= @competition.title %>
</p>

<p>
  	<strong>Tipo:</strong>
  	<%= @competition.sportType %>
</p>

<p>
  	<strong>Início:</strong>
  	<%= @competition.start %>
</p>

<p>
	<strong>Fim:</strong>
	<% if not @competition.end.nil? %>
		<%= @competition.end %>
	<% else %>
		<%= "em curso..." %>
	<% end %>
</p>

<%= link_to_if @competition.end.nil?, 'Editar', edit_competition_path(@competition) %> |
<%= link_to 'Voltar', competitions_path %>

<br>
<h2>Resultados</h2>
<% @competition.results.each do |result| %>
	<p>
	  <strong>Atleta:</strong>
	  <%= result.athlete %>
	</p>

	<p>
	  <strong>Valor:</strong>
	  <%= result.resultValue %>
	</p>

	<p>
	  <strong>Unidade:</strong>
	  <%= result.unit %>
	</p>
	
	<%= link_to_if @competition.end.nil?, 'Editar', edit_result_path(result) %> |
	<%= link_to_if @competition.end.nil?, 'Apagar', result, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %>
	
<% end %>

<% if @competition.end.nil? %>
	<h2>Adicionar Resultado</h2>
	<%= render 'results/form' %>
<% else %>
	<h2>Competição encerrada...</h2>
<% end %>