<p id="notice"><%= notice %></p>

<h1><%= "Competição: #{@competition.title}" %></h1>



<table>
  	<thead>
	    <tr>
	      	<th>Título</th>
	      	<th>Tipo</th>
	      	<th>Início</th>
	      	<th>Fim</th>
	      	<th colspan="3"></th>
	    </tr>
  	</thead>

  	<tbody>
      	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        	<td><%= @competition.title %></td>
        	<td><%= @competition.sportType %></td>
        	<td><%= @competition.start %></td>
        	<% if not @competition.end.nil? %>
				<td><%= @competition.end %></td>
			<% else %>
				<td><%= "em curso..." %></td>
			<% end %>
			<td><%= link_to_if @competition.end.nil?, 'Editar', edit_competition_path(@competition) %></td>
      	</tr>
  	</tbody>
</table>

<h2><%= link_to 'Voltar', competitions_path %></h2>

<br>

<h2>Resultados</h2>
<table>
  	<thead>
    	<tr>
      		<th>Atleta</th>
      		<th>Valor</th>
      		<th>Unidade</th>
     		<th colspan="3"></th>
   		</tr>
  	</thead>

  	<tbody>
  		<% @competition.results.each do |result| %>
      	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        	<td><%= result.athlete %></td>
        	<td><%= result.resultValue %></td>
        	<td><%= result.unit %></td>
        	<td><%= link_to_if @competition.end.nil?, 'Editar', edit_result_path(result) %></td>
        	<td><%= link_to_if @competition.end.nil?, 'Apagar', result, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %></td>
      	</tr>
      	<% end %>
  	</tbody>
</table>

<% if @competition.end.nil? %>
	<h2>Adicionar Resultado</h2>
	<%= render 'results/form' %>
<% else %>
	<br>
	<h1>Competição encerrada...</h1>
<% end %>