<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table>
  <thead>
    <tr>
      <th>Atleta</th>
      <th>Valor</th>
      <th>Unidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.athlete %></td>
        <td><%= result.resultValue %></td>
        <td><%= result.unit %></td>
        <td><%= link_to 'Mostrar', result %></td>
        <td><%= link_to 'Editar', edit_result_path(result) %></td>
        <td><%= link_to 'Apagar', result, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Resultado', new_result_path %>
