<p id="notice"><%= notice %></p>

<h1>Listando Resultados</h1>

<table>
  <thead>
    <tr>
      <th>Atleta</th>
      <th>Valor</th>
      <th>Unidade</th>
      <th>Competição</th>
      <th>Estado</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <% @competition = Competition.find(result.competition_id) %>
      <tr>
        <td><%= result.athlete %></td>
        <td><%= result.resultValue %></td>
        <td><%= result.unit %></td>
        <td><%= @competition.title %></td>
        <% if @competition.end.nil? %>
          <td>Em curso...</td>
        <% else %>
          <td>Finalizada</td>
        <% end %>
        <td><%= link_to 'Mostrar', result %></td>
        <td><%= link_to_if @competition.end.nil?, 'Editar', edit_result_path(result) %></td>
        <td><%= link_to_if @competition.end.nil?, 'Apagar', result, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', competitions_path %>
