<p id="notice"><%= notice %></p>

<p>
  <strong>Atleta:</strong>
  <%= @result.athlete %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @result.resultValue %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @result.unit %>
</p>

<%= link_to 'Editar', edit_result_path(@result) %> |
<%#= link_to 'Voltar', competitions_path(@result.competition_id) %>
<%= link_to 'Voltar', "#{competitions_path}/#{@result.competition_id}" %>
